textH1()
  text(45px, 600, 1.4)
  +bpMin($media_mobile)
    font-size 65px
  +bpMin($media_tablet)
    font-size 100px
textH2()
  text($fsz_title, 600, 1.4)
textH3()
  text(27px, 600, 1.4)
textSubtitle()
  text($fsz_important, 600, 1.4)
textBody()
  text($fsz_text, 400, 1.4)
