// # Size
// ## HTML
$max_width = 1080px
// ## Elements
$header_height = 80px
$header_height_fixed = 68px
$element_height_mobile = 58px
$element_height_tablet = 66px
$element_height_desktop = 80px
// ## Z-Index
$z_control = 1000
$z_modal = 1100
$z_alert = 1200
// ## Transition
$transition = all .5s ease
// # Media breakpoint
$media_tablet = 1079px
$media_mobile = 767px
// # Font size
$fsz_title = 32px
$fsz_important = 20px
$fsz_text = 17px
// # Default colors
$color_white = #ffffff
$color_black = #2D2D2D
$color_grey = #F3F3F3
$color_green = #009379
$color_red = #FF6250
$color_pink = #F3AFA8
$color_yellow = #F7D684
// # Skeleton colors
$color_skeleton = rgba(242, 242, 242, .8)
$color_skeleton_bg = rgba(242, 242, 242, .5)
$color_skeleton_animation = rgba(187, 187, 187, .2)
